Source: rocm-cmake
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 rocm-core,
 rocm-env,
Standards-Version: 4.7.0
Homepage: https://github.com/ROCm/rocm-cmake
Vcs-Browser: https://github.com/revyos-rocm/rocm-cmake
Vcs-Git: https://github.com/revyos-rocm/rocm-cmake.git

Package: rocm-cmake
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 cmake,
 rocm-core,
 rocm-env,
Description: CMake modules within the ROCm project
 rocm-cmake is a collection of CMake modules for common build and development
 tasks within the ROCm project. It is therefore a build dependency for many of
 the libraries that comprise the ROCm platform.
