#!/usr/bin/make -f

export DH_VERBOSE = 1

PKG_NAME=rocm-cmake

ROCM_VERSION=$(shell cat /opt/REVYOS_ROCM_VERSION)
ROCM_PATH=/opt/rocm-$(ROCM_VERSION)

MAKEOPTS="-j$$(($$(nproc) / 2))"

TOP_DIR := $(shell pwd)
SRC_PATH := $(TOP_DIR)
BUILD_PATH := $(TOP_DIR)/build-rocm
DEB_INST_DIR := $(TOP_DIR)/debian/$(PKG_NAME)

REVYOS_ROCM_CMAKE_PARAMS := -S $(SRC_PATH) -B $(BUILD_PATH)
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_INSTALL_PREFIX=$(ROCM_PATH)
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_BUILD_TYPE=RelWithDebInfo
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_VERBOSE_MAKEFILE=TRUE

%:
	dh $@

override_dh_auto_configure:
	cmake $(REVYOS_ROCM_CMAKE_PARAMS)
		-DBUILD_SHARED_LIBS="ON" \
		-DCPACK_SET_DESTDIR="OFF" \
		-DROCM_DISABLE_LDCONFIG=ON \
		-B $(BUILD_PATH)

override_dh_auto_build:
	cmake --build $(BUILD_PATH) -- $(MAKEOPTS)

override_dh_auto_install:
	DESTDIR=$(DEB_INST_DIR)/ cmake --build $(BUILD_PATH) -- $(MAKEOPTS) install
	dh_auto_install
